.portfolio {
  margin: 25px;
  border: solid black 8px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .portfolio {
    margin: 100px 25px 25px 25px;
  }
}

.content {
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 50px;
  margin-left: 5px;
}

.port-buttons {
  display: flex;
  margin-left: 15px;
}

.btn-port {
  margin: 10px 10px 15px 0px;
}
