.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio {
  margin: 25px;
  border: solid black 8px;
  background-color: white;
  border-radius: 10px;
}

.content {
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.btn-success {
  background: url(../../images/thumbs-up-icon.svg) no-repeat;
  background-size: contain;
  min-width: 38px;
  height: 38px;

  margin: 15px;
}

.down {
  background: url(../../images/thumbs-up-icon.svg) no-repeat;
  background-size: contain;
  min-width: 38px;
  height: 38px;
  transform: rotate(180deg);
  margin: 15px;
}

.rating {
  font-size: 36px;
}

.port-button {
  margin-left: 15px;
  margin-bottom: 15px;
}

.view {
  margin-left: 15px;
}
