body {
	background-color: black;
	color: white;
}
nav {
	padding: 5px;
	margin-bottom: 5px;
	border: solid 2px black;
	background-color: gray;
}
.aboutLink {
	color: white;
}
.createLink {
	color: white;
}
.homeLink {
	color: white;
}
img {
	max-width: 30rem;
}
