body {
  background-color: #7ccdf4;
  color: black;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1;
}
.login .modal-dialog {
  position: fixed;
  align-content: center;
}

nav img {
  width: 50px;
}

nav h2 {
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  margin-top: 10px;
  margin-left: -25px;
}

.createLink,
.homeLink,
.aboutLink {
  color: white;
}

.aboutLink:hover,
.homeLink:hover {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main {
  margin-top: 100px;
}

@media (max-width: 775px) {
  nav {
    display: block;
  }

  nav img {
    display: none;
  }

  nav h2 {
    margin-left: 0px;
  }

  .nav-buttons {
    margin-right: 10px;
  }
}
