body {
  color: black;
}
nav {
  padding: 5px;
  margin-bottom: 30px;
  background-color: darkblue;
}
.aboutLink {
  color: white;
}
.createLink {
  color: white;
}
.homeLink {
  color: white;
}
img {
  max-width: 30rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav {
  display: flex;
  justify-content: center;
}
